@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uf5i5c');
  src:  url('../fonts/icomoon.eot?uf5i5c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uf5i5c') format('truetype'),
    url('../fonts/icomoon.woff?uf5i5c') format('woff'),
    url('../fonts/icomoon.svg?uf5i5c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


