@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat-ExtraBold'),
   url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
   url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'),
   url('../fonts/Montserrat-Bold.woff2') format('woff2'),
   url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat-SemiBold'),
   url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
   url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat-Medium'),
   url('../fonts/Montserrat-Medium.woff2') format('woff2'),
   url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'),
   url('../fonts/Montserrat-Regular.woff2') format('woff2'),
   url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}
/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat-ExtraBold'),
   url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
   url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
} */
* {
  box-sizing: border-box;
}
.project,
.job,
.job02,
.heat,
.septic,
.blog,
.video,
.team,
.contact
 {
  padding-top: 50px;
 }
 .center {
  text-align: center;
}
.wr500 {
  max-width: 490px;
  width: 100%;
}
.logotext {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* color: grey; */
}
.job02 a:hover {
  color: black;
}
.yellow {
  color: orange;
  /* color: #f9ce00; */
}
.maroon {
  color: maroon;
  transition: all .4s;
}
.black {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: black;
}
.pantony {
  color: #134169;
}
.tiny-grey {
font-weight: 500;
font-size: 8px;
line-height: 10px;
color: grey;  
}
.grey {
  
  padding: 5px 0;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: grey;
transition: all .4s;
}
.bg-black {
  background-color: black;
  /* color: white; */
}
.bg-grey {
  background-color: #f3f3f3;
  /* color: white; */
}
.fotorama {
  padding: 2px;
}
.project__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
 
  /* font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px; */
  line-height: 20px;
  /* color: black; */
}
.text-black {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: black;
 /* margin-bottom: 5px;  */
}
p {
 font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;

color: #373A39;
}
a {
  
  text-decoration: none;
  display: inline-block;
}
a:hover {
  
  color: tomato;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

}
.container-wrap {

  margin-left: 150px;
  margin-bottom: 20px;
}

.header {
  width: 100%; 
}
.header__top {
  position: fixed;
  
  left: 0;
  right: 0;
  top: 0;
 
  background-color: #0b2d39;
 
  z-index: 10;
}

.header__top-inner {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
   
    background-color: #0b2d39;
  
    margin: 0 auto;
}
.menu__btn {
  display: none;
}
.menu__list {
   display: flex;
   
}


.menu__list-item + .menu__list-item {
  margin-left: 10px;
}
.menu__title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 16px;
 color: #DBD9C2; 
}
.menu__list-link {
  display: block;
  padding: 10px 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #DBD9C2;
transition: all .4s;
}
.menu__list-link--yellow {
  display: block;
  padding: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: orange;
transition: all .4s;
}
.menu__list-link:hover {
 color: tomato; 
 
}


.top__contact {
  max-width: 400px;
  margin: 70px 5px 20px;
}
.header__content {
  margin-top: 50px;
  margin: 0 auto;
 
}

.footer__inner {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
   
  justify-content: space-between;
  align-items: flex-start;

}

.about__inner
 {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
   
}
.project__inner,
.cell
 {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 0px;
   
}
.about__cell {
 max-width: 500px;
 width: 100%;
 margin: 5px;
}
.cell {
 max-width: 500px;
 width: 100%;
 margin: 5px;
}

.card {
 max-width: 250px;
 width: 100%;

 padding: 5px;
}
.heat__inner {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px; 
}
.heat__inner {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px; 
}
.septic__inner {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px; 
}
.social-inner {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px; 
}

.septic__left {
  max-width: 490px;
  width: 100%;
  padding: 5px;
}
.septic__right {
  max-width: 490px;
  width: 100%;
  padding: 5px;
}



.z__left {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  
}
.z__center {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
.about {
  min-height: 491px; 
}

.video-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;  
}

.slider-blog {
  background-color: rgba(4, 4, 4, 1);
  padding: 15px 0;
}
.slider-blog__item {
  padding: 0;
 
  margin: 0 auto;

}
.video__item {
  max-width: 500px;
  width: 100%;
}
.slider-blog__img {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.slick-dots button {
width: 16px;
height: 6px;

border: none;
background: #242121;
font-size: 0;

}
.slick-active button {
width: 16px;
height: 6px;

border: none;
background: tomato;

}
.slick-dots li + li {
  margin-left: 10px;
}

.team {
  padding: 80px 0 30px;
}

.connection {
  padding: 140px 0 160px;
  background-image:  url('../img/map.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right 50%;
} 
.connection-title {
  margin-bottom: 80px;
}
.form {
  max-width: 570px;
}
.form input,
.form textarea {
  border: none;
  display: block;
  max-width: 300px;
  width: 100%;
  border-bottom: 2px solid #373A39;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
padding: 16px 0;
margin-bottom: 16px;
}
.form input::placeholder,
.form textarea::placeholder {
 
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;

letter-spacing: 3.70909px;

color: #B8B8B8;
text-transform: uppercase;
}
.form textarea {
  min-height: 140px;
  resize: none;
}
.form button {
max-width: 300px;
width: 100%;
height: 45px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 13px;
padding: 17px 70px 15px;
text-align: center;
letter-spacing: 2px;
border: none;
color: #FFFFFF;
background: #242121;
cursor: pointer;
margin-top: 20px;
}

.contact__input {
max-width: 300px;
width: 100%;
height: 60px;

background: #FFFFFF;
border: 2px solid grey;
border-radius: 3px;
margin-bottom: 10px;
padding: 0 10px;
}
.contact__submit {
max-width: 300px;
width: 100%;
height: 60px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #DBD9C2;
transition: all .4s;
border: none;


color: #fff;

background: black;
border-radius: 3px;
transition: all .3s;
}
.contact__submit:hover {
 background: tomato;
 cursor: pointer; 
}
form {
   display: flex;
   flex-direction: column;
justify-content: space-between;
align-items: flex-start;

}
.video-left,
.video-right {
  max-width: 490px;
  
  width: 100%;
}
.socialmap {
  padding-top: 0.4rem;
  max-width: 1200px;
  width: 100%;
  background-color: #071e26;
}
.iframe {
 max-width: 1200px;
 width: 100%;
}
.social {
   background-color: #071e26;
 
    border-bottom: 0px solid #636e74;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  color: #636e74;
 
}
.footer {
   background-color: #071e26;
 
}
.roll {
  position: relative;
  display: inline-block;
  transition: all .4s;
}
.rollover {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s;
}
.roll .rollover {
  display: none;
}
.roll:hover .rollover {
  transition: all .4s;
  display: block;
  
}
.tiny-footer {
  text-align: center;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 5px;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 10px;  
  overflow: hidden;
  width: 52px;
  height: 52px;
  border: none;
  text-indent: 100%;
  background: url('../img/up.png') no-repeat 0px 0px;

}
/* swiper-slider******************************* */
/* .card-slider {
	max-width: 592px;
	height: 490px;
	margin-right: 10px;
	display: flex;
}
.slider-nav {
	width: 82px;
	margin-right: 20px;
}

.slider-nav__item {
	height: 82px;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	cursor: pointer;
}

.slider-nav__item:not(:last-child) {
	margin-bottom: 20px;
}

.slider-nav__item img {
	max-width: 80%;
	max-height: 80%;
}

.slider-block {
	overflow: hidden;
	width: calc(100% - 82px - 20px);
	background-color: #fff;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}
@media (max-width: 1000px) {
	.slider-block {
		overflow: hidden;
		width: calc(100% - 82px - 220px);
		background-color: #fff;
		border: 1px solid #D9D9D9;
		border-radius: 4px;
	}
  }
@media (max-width: 400px) {
	.slider-block {
		overflow: hidden;
		width: calc(100% - 82px - 420px);
		background-color: #fff;
		border: 1px solid #D9D9D9;
		border-radius: 4px;
	}
  }

.swiper-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide img {
	max-width: 80%;
	max-height: 80%;
} */
/* swiper-slider-end*************************************** */

